.btn{
    padding: 0.5rem;
    background-color: yellow;
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 10px;
    font-weight: 700;
}

.value{
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
}

.valueTotal{
    font-size: 2rem;
}